@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
    font-family: 'Caprasimo', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Pacifico', cursive;
}

.contact-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #2980b9;
  }

  .contact-button-new {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f35555;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .contact-button-new:hover {
    background-color: #f52929;
  }
  